// shades  of green
$green-button: #27ba59;
$green-button-hover: #25c75b;
$green-up: #22b422;

// shades of red
$linear-red-1: rgb(180, 0, 5);
$linear-red-2: rgba(222, 0, 6, 1);
$linear-red-3: rgba(180, 0, 5, 1);
$quick-news: #ad0005;
$border-quick-news: #a60005;
$red-down: #ff2626;
$suno-red: #d42126;
$suno-red-dark: #a20005;

// shades of grey
$grey: #999;
$grey-light: #e7e7e7;

// black
$black: #000;
$dark: #212121;
$dark-box: #1f1f1f;

// whirte
$white: #fff;
$light: #e3e3e3;
