$component-name: "sunoNews";
.#{$component-name} {
  &__triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;

    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(3, 1fr);
      @media screen and (max-width: 760px) {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
      }
    }

    &__card {
      @media screen and (max-width: 760px) {
        display: flex;
        align-items: center;
        gap: 16px;
      }
      &__link {
        color: $dark;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &__title {
        font-size: 18px;
        font-weight: 500;
        margin-top: 16px;
        @include clamp(3);

        @media screen and (max-width: 760px) {
          font-size: 14px;
          -webkit-line-clamp: 4;
          margin-top: 0;
        }
      }
    }

    &__image {
      position: relative;

      picture {
        position: relative;
        display: flex;

        &::before {
          content: "";
          border-radius: 0 0 5px 5px;
          @include mask(#000000, transparent, 80%);
        }

        img {
          width: 100%;
          border-radius: 5px;
          object-fit: cover;

          @media screen and (max-width: 760px) {
            width: 140px;
            height: 75px;
          }
        }
      }

      .SunoNewsCategory {
        position: absolute;
        bottom: 11px;
        left: 10px;
        color: $white;

        @media screen and (max-width: 1220px) {
          bottom: 8px;
          font-size: 8px;
        }
      }
    }
  }
}
